:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #ffffffb9 10%,
    #39d98eec 100%
  );
  --vp-home-hero-image-filter: blur(100px);
  /* brand按钮 */
  --vp-button-brand-bg: rgb(56, 189, 248);
  --vp-button-brand-hover-bg: rgb(14, 165, 233);
}

/* 条纹背景 */
.bg-stripe:hover {
  background-image: repeating-linear-gradient(
    45deg,
    hsl(0 0% 100%),
    hsl(0 0% 100%) 13px,
    hsl(0 0% 95%) 13px,
    hsl(0 0% 95%) 14px
  );
}
.name[data-v-336fadc6], .text[data-v-336fadc6] {
  background: linear-gradient(45deg, #6bff81, #f0e68c) !important; /* 渐变颜色 */
  background-clip: text !important; /* 背景裁剪 */
  -webkit-background-clip: text; /* Safari 兼容性 */
  -webkit-text-fill-color: transparent; /* 填充颜色透明 */
}
.dark .bg-stripe:hover {
  background-image: repeating-linear-gradient(
    45deg,
    hsl(202, 80%, 24%),
    hsl(202, 80%, 24%) 13px,
    hsl(200, 80%, 20%) 13px,
    hsl(200, 80%, 20%) 14px
  );
}

.VPSidebar::-webkit-scrollbar {
  @apply hidden;
}
